body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px grey;
  background-color: #f3f3f3;
}

.landing-container {
  width: 40vw;
  height: 40vh;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  box-shadow: 4px 4px 20px #888888;
  background-color: white;
}

.inputBar-container {
  width: 100%;
  height: 60px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.inputBar-container input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  padding: 0px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.todoList-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  box-sizing: border-box;
}

.todoList-wrapper {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.todoList-todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: solid 1px #f3f3f3;
  padding: 6px;
  box-sizing: border-box;
  min-height: 40px;
  cursor: default;
}

.todoList-todo input {
  margin-right: 8px;
}

.todoList-todo input:checked + lable {
  text-decoration: line-through;
  color: rgb(200, 200, 200);
}

.todoList-todo button {
  color: transparent;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.todoList-todo:hover .todoList-editButtom {
  color: #41e24f;
}

.todoList-editButtom:hover {
  color: grey !important;
}

.todoList-todo:hover .todoList-deleteButtom {
  color: red;
}

.todoList-deleteButtom:hover {
  color: grey !important;
}

.todoList-todo span {
  margin-left: 20px;
}

.lightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.todoLightbox {
  width: 40vw;
  height: 200px;
  position: relative;
  border-radius: 6px;
  background-color: white;
}

.todoLightbox button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0px;
  top: 0px;
  color: grey;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  transition: color 0.6s;
}

.todoLightbox button:hover {
  color: red;
}
