body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px grey;
  border-radius: 4px;
  background-color: #f3f3f3;
}

.landing-container {
  width: 40vw;
  height: 40vh;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 4px 20px #888888;
  background-color: white;
}

.inputBar-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}

.inputBar-container input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: none;
}

.todoList-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
}

.todoList-wrapper {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.todoList-todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: solid 1px lightgrey;
  padding: 6px;
  box-sizing: border-box;
  min-height: 40px;
}

.todoList-todo button {
  height: 20px;
  width: 20px;
  color: black;
  color: black;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.todoList-todo:hover button {
  box-shadow: 0px 1px 6px #888888;
  border: solid 1px lightgrey;
}

.todoList-doneButtom:hover {
  background-color: #87c87b;
}

.todoList-deleteButtom:hover {
  background-color: #c37474;
}

.todoList-todo span {
  margin-left: 20px;
}
